<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><center>
  <!--
    {% if a > b %}
      <h1> if block is executed</h1>
      <h1> {{a}} is greater than {{b}}</h1>
      <h1> a is greater than a</h>
    
    {% endif %}

     




    {% if a > b %}
      <h1> if block is executed</h1>
      <h1> {{a}} is greater than {{b}}</h1>
      <h1> a is greater than a</h>
    {% else %}
      <h1> else block is executed</h1>
      <h1> {{b}} is greater than {{a}}</h1>
      <h1>b is greater than a</h1>
    {% endif %}
     

{% if a > b and a > c %}
     <h1>if block executed</h1>
     <h1>a is max</h1>
     <h1>{{a}} is max</h1>
{% elif b > c %}
     <h1>elif is executed</h1>
     <h1> b is max</h1>
     <h1> {{b}} is max</h1>
{% else %}
     <h1> else block executed</h1>
     <h1>c is max</h1>
     <h1>{{c}} is max</h1>
{% endif %}
-->
{% if a > b %}
    {% if a > c %}
      <h1>{{a}} is max</h1>
    {% else %}
      <h1>{{c}} is max</h1>
    {% endif %}
{% else %}
    {% if b > c %}
      <h1>{{b}} is max</h1>
    {% else %}
      <h1>{{c}} is max</h1>
    {% endif %}
{% endif %}






</center>
</body>
</html>